fastapi
uvicorn

openai==1.76.0

peft
datasets
loguru
commentjson

pdfplumber
python-docx
openpyxl


torch
transformers
accelerate


tensorboard



langchain
jinja2==3.1.0

